<section class="py-5 bg-light">
    <div class="container">
        <h2 class="display-4 text-center mb-4">About Project C2 </h2>

        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Angular Front End</h5>
                        <p class="card-text">A user-friendly interface for managing agents and accessing project features.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Java Spring Boot Backend</h5>
                        <p class="card-text">A robust and secure server that powers the core functionalities of the project.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Java Maven Agent</h5>
                        <p class="card-text">A versatile agent component that infects target machine.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MySQL Database</h5>
                        <p class="card-text">For data storage and retrieval.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Amazon S3 Bucket</h5>
                        <p class="card-text">For storing and retrieving files.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Okta Authentication</h5>
                        <p class="card-text">For secure user authentication and access control.</p>
                    </div>
                </div>
            </div>
        </div>



        <!-- Buttons linking to GitHub repositories -->
        <div class="text-center mt-4">
            <a href="https://github.com/The-Hustler-Hattab/c2-ui" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" target="_blank">Frontend</a>
            <a href="https://github.com/The-Hustler-Hattab/C2JavaServer" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" target="_blank">Backend</a>
            <a href="https://github.com/The-Hustler-Hattab/ReverseShellWebSocketAgent" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" target="_blank">Java Agent</a>
        </div>
    </div>
</section>

<app-footer></app-footer>
