<mat-list>
    <div mat-subheader>{{folderName}}</div>
    <mat-accordion>
        <ng-container *ngFor="let item of folders">
            <mat-expansion-panel *ngIf="item.type === 'FOLDER'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matListIcon>folder</mat-icon>
                        {{ item.name }}
                    </mat-panel-title>
                    <mat-panel-description>{{ item.updated  }}</mat-panel-description>
                </mat-expansion-panel-header>
                <app-folder *ngIf="item.subFolders && item.subFolders.length" [folder]="item"></app-folder>
            </mat-expansion-panel>

            <app-file [file]="item"></app-file>

        </ng-container>
    </mat-accordion>
</mat-list>