

<!-- Features Section -->
<section class="py-5">
    <div class="container text-center">
        <h2 class="display-4">Key Features</h2>
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-cogs fa-3x mb-3 text-primary"></i>
                <h3>Comprehensive Console</h3>
                <p>Effortlessly manage and control all aspects of your operations from a single, powerful console.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-chart-line fa-3x mb-3 text-primary"></i>
                <h3>Comprehensive Log Table</h3>
                <p>Gain insights and track every aspect of your project with our detailed log table.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-shield-alt fa-3x mb-3 text-primary"></i>
                <h3>Secure S3 File Downloads</h3>
                <p>Easily and securely download files from Amazon S3 storage from infected agents.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Us Section -->
<section class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="display-4">About Me</h2>
        <p>I am passionate about offensive cyber and dedicated to learning technology.</p>
    </div>
</section>

<!-- Contact Section -->
<section class="py-5">
    <div class="container text-center">
        <h2 class="display-4">Contact Me</h2>
        <p>Connect with Me</p>
        <a class="btn btn-primary btn-lg" href="https://mtattab.com/" target="_blank" role="button">Personal Page</a>
    </div>
</section>

<app-footer></app-footer>
