<div class="container">
  <p-table
    #dt1
    [value]="logs"
    dataKey="id"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="50"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100, 500,1000]"
    [globalFilterFields]="['id','FileName','FileContentType', 'BlobUrl', 'IPAddress', 'Date']"
    selectionMode="single" 
    [scrollable]="true"
    [resizableColumns]="true" 
    columnResizeMode="expand"
    [loading]="loading"
    [reorderableColumns]="true"
    [columns]="cols"
    
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <div class="row">
                      <div class="col-md-10">
                        <input
                          matInput
                          (input)="applyFilterGlobal($event, 'contains')"
                          placeholder="Ex. ium"
                          #input
                        />
                      </div>
                      <div class="col-md-1">
                        <mat-icon svgIcon="filter"></mat-icon>
                      </div>
                    </div>
                  </mat-form-field>
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary mr-2" (click)="exportCSV()">
                    <i class="fas fa-file"></i> CSV
                  </button>
                  <button type="button" class="btn btn-success mr-2" (click)="exportExcel()">
                    <i class="fas fa-file-excel"></i> XLSX
                  </button>
                  <button type="button" class="btn btn-warning mr-2" (click)="exportPdf()">
                    <i class="fas fa-file-pdf"></i> PDF
                  </button>
       
            </div>
            <div class="col-md-2">
                <button mat-fab extended color="primary" id="" (click)="refresh()">
                    <i class="fas fa-sync-alt"></i> Refresh
                  </button>

            </div>
        </div>

      


    </ng-template>


    <ng-template pTemplate="header" let-columns>
      <tr>
        <th  style="width: 20%" *ngFor="let col of columns" pReorderableColumn [pSortableColumn]="col.field">
            {{col.header}}             
            <p-sortIcon (field)="col.header"></p-sortIcon>
        </th>
        <th  style="width: 20%" >
          Download
      </th>
    </tr>

    </ng-template>
    <ng-template pTemplate="body" let-log let-index="rowIndex" let-columns="columns"  let-rowData>

      <tr [pReorderableRow]="index" [pSelectableRow]="log">

        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
            
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="downloadFile(log.FileName)">
              <i class="fas fa-download"></i> Download
            </button>
      </td>
    </tr>
    </ng-template>
  </p-table>
</div>
