

 @import 'node_modules/primeng/resources/themes/lara-light-blue/theme.css';
 @import "node_modules/primeng/resources/primeng.css";
 @import 'primeng/resources/themes/saga-blue/theme.css';
 @import 'primeng/resources/primeng.min.css';
 @import 'primeicons/primeicons.css';
  .p-terminal {
    background-color: black;
    color: white;
    font-family: "Courier New", monospace;
    font-size: 14px;
    padding: 10px; /* Add padding here */
    height: 80vh; 
    overflow: auto; 
    position: relative;
    overflow-y: auto;
    white-space: pre-wrap;

  }




/* Style the command output */
.p-terminal-response {
  color: #ff3f3f; /* White text for the command output */
}





